 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
} 
.container{
    max-width: 80vw;
    background-color: rgb(250, 248, 250);
    background-position-x: center;
    background-size: contain;

}

.navbar{
display: flex;
height: 67px;
font-family: lato;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.topleft{
    width: 50%;
    height: 50vh;
}

.topright{
    width: 50%;
    height: 50vh;
}


.logo{
    font-size: 2rem;
}

.dumbellimg{
    width: 144px;
}
.section1{
    max-height: 100vh;
    
}
.section1 h1{
    font-size: 2rem;
}

.topright .gymimg{
    width: 366px;
}
.box{
    padding: 8px 0px;
    margin: 12px 22px;
    min-width: 21vw;
    border: 2px solid rgb(236, 144, 6) ;
    text-align: center;
    border-radius: 8px;
}
.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}
.box h2{
    font-size: 2rem;
    padding: 5px 0;
}
.box ul{
    list-style-type: none;
}

.box ul li{
    margin: 12px 2px;
}

.footer{
    padding: 10px;
    text-align: center;
    margin: 5px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}