@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
 }

 .body{
    background-image: url("../image3.jpg");
    min-height: 100vh;
    opacity: 1;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items:left;
    
  } 

 #scoreBox{
   position: absolute;
   top: 140px;
   right: 409px;
   font-size: 50px;
   font-weight: bold;
   font-family: 'Alkatra', cursive;
 }

#hiscoreBox{
   position: absolute;
   top: 180px;
   right: 300px;
   font-size: 50px;
   font-weight: bold;
   font-family: 'Alkatra', cursive;

 }
 #snaketitle{
  position: absolute;
  top: 0px;
  right:320px;
  font-size: 71px;
  font-weight: bold;
  text-decoration:underline;
  font-family: 'Alkatra', cursive;
 }

 #board{
    background: linear-gradient(cyan,green) ;
    width: 90vmin;
    height: 92vmin;
    border: 2px rgb(9, 9, 9);
    display:grid;
    grid-template-rows:repeat(18,1fr);
    grid-template-columns:repeat(18,1fr);
    margin-left: 135px;
    
 }

 .head{
   background: linear-gradient(black,white);
   border: 2px solid black;
   transform: scale(1.02);
   border-radius: 9px;

 }

 .snake{
   background: linear-gradient(black, brown);
   border: .25vmin solid black;
   border-radius: 12px;

 }

 .food{
   background: linear-gradient(purple, red);
   border: .25vmin solid black;
   border-radius: 8px;   
 }